header{
    display: grid;
    padding: 10px;
    align-content: center;
    height: 200px;
    background-color: chocolate;
    h1{
        text-align: center;
    }
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    align-content: center;
    background-color: darkcyan;
    div{
        display: block;
        background-color: rgb(161, 16, 16);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        height: 100%;
        font-size: 30px;
        text-align: center;
    }
}

footer{
    display: grid;
    width: 100%;
    height: 250px;
    background-color: darkorange;
    align-content: center;
    div{
        width: 100%;
        text-align: center;
        font-size: 3em;
    }
}